.event {
    height: 100%;
    background-color: aqua;
    max-width: 100%;
    border: 1pt solid white;
    border-radius: 5pt;
    transition: all ease-out 1s;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__icon {
        margin: 5px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            outline: 2px solid rgba(0, 0, 0, 0.05);
            border-radius: 50%;
        }
    }
    
    &__text {
        width: 80%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 1s;
}